@layer theme, components, utilities;

@layer theme {
  :root {
    --color-white: oklch(98.5% 0 0);
    --shadow: 5px 5px 10px oklch(50% 0.1 240 / 0.5);

    --color-background-card: oklch(92.9% 0.013 255.508);
    --color-background-darken-card: oklch(70.4% .04 256.788);
    --color-border-card: oklch(86.9% .022 252.894);

    --color-background-page: oklch(98.4% 0.003 247.858);
  }
}

* > {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 8px;
  background-color: var(--color-background-page);
  
  min-height: 100dvh;
  overflow: hidden;
}

.card {
  padding: 12px;
  background-color: var(--color-background-card);
  border: 1px solid var(--color-border-card);
  box-shadow: var(--shadow);
  border-radius: 8px;
  color: black;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.parent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  
  color: var(--color-white);
  background-color: var(--color-background-darken-card);
  border: 1px solid var(--color-border-card);
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;
  gap: 16px;
}
